<!-- <script src="https://kit.fontawesome.com/54783ca5ac.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="/CSS/placement_cell.css">

<div id="manager_container">

    <div id="student_manager">

        <h1>Student Management</h1>

        <div id="interview_section_detail">This section help you to manage Student Yard like adding student detail and list of the student and student with interview list</div> 

        <form action="/students/details">

            <input type="submit" value="Explore">

        </form>

    </div>

    <div id="interview_manager">

        <h1>Interview Management</h1>

        <div id="interview_section_detail">This section help you to manage Interview Yard like adding interview detail and list of the interview and inteview with student list</div> 

        <form action="/students/details">

            <input type="submit" value="Explore">

        </form>

    </div>

</div>