<link rel="stylesheet" href="/CSS/sign_in.css">

<img src="/IMAGE/placement.png" alt="noimage" id="placement_img">

<div id="sing-up-container">

    <h1 id="sign_up_heading">Sign In</h1>

    <form action="/users/create_session" method="post">
    
        <input type="email" name="email" id="email" placeholder="Email" required class="text_input">

        <input type="password" name="password" id="password" placeholder="Password" required class="text_input pass">
        
        
        <input type="submit" value="Sign In" id="sign_up">

    </form>
    
</div>
