.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
  }

  .box {
    width: 400px;
    color: #fff;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

    box-shadow: 1px 2px 8px chartreuse;
  }

  .box button {
    position: relative;
    left: 70%;
    background-image: linear-gradient(to right, rgb(226, 67, 67), rgb(54, 54, 220));
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }

  .box button:hover {
    background-image: linear-gradient(to right, rgb(54, 54, 220), rgb(226, 67, 67));
  }

  h2{
    box-shadow: 1px 2px 8px rgb(86, 8, 232);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
  }